<mat-tab-group [(selectedIndex)]="tabSelect">
  <mat-tab label="View">
    <mat-grid-list cols="3" gutterSize="16px">
      <mat-grid-tile *ngFor="let article of articles;let i = index" class="mat-elevation-z2">
        <mat-card (click)="openDialog(i)">
          <mat-card-header>
            <img mat-card-avatar [src]="article.back" [alt]="article.back">
            <mat-card-title>{{article.head}}</mat-card-title>
            <mat-card-subtitle>{{article.date|date}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="article.back" [alt]="article.back">
          <mat-card-content>
            <p>{{article.body}}</p>
          </mat-card-content>
          <mat-card-actions (click)="$event.stopPropagation()">
            <button mat-button (click)="onDeleteArticle(i)">DELETE</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Add Article">
    <form [formGroup]="articleForm" (ngSubmit)="onArticleSubmit()" class="mat-elevation-z8">
      <mat-form-field>
        <input matInput type="text" formControlName="head" placeholder="heading">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput type="text" formControlName="body" placeholder="summary" rows="3"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput type="text" formControlName="details" placeholder="details" rows="7"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="back" placeholder="image">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="link" placeholder="links separated by ' '">
      </mat-form-field>
      <button mat-raised-button type="submit">Add Article</button>
    </form>
  </mat-tab>
  <mat-tab label="Add Circular">
    <form [formGroup]="circularForm" (ngSubmit)="onCircularSubmit()" class="mat-elevation-z8">
      <mat-form-field>
        <input matInput type="text" formControlName="subject" placeholder="heading">
      </mat-form-field>
      <input type="file" (change)="detectFile($event)" style="margin-bottom: 16px;">
      <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0">
      </mat-progress-bar>
      <button mat-raised-button type="submit">Add Circular</button>
    </form>
  </mat-tab>
</mat-tab-group>
