:host ::ng-deep .mat-tab-header {
  position: sticky;
  top: 0;
  background-color: #fafafa;
  z-index: 3;
}

mat-tab-group,
::ng-deep .mat-tab-body-wrapper,
mat-tab-body,
.mat-tab-body-content {
  height: 100%;
}

form {
  display: flex;
  flex-flow: column nowrap;
  margin: 16px;
  padding: 16px;
}

mat-grid-list {
  margin: 16px;
}

mat-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

mat-card-header {
  height: 20%;
  width: 100%;
  align-items: center;
}

mat-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

mat-card-subtitle {
  margin: 0;
}

.mat-card-image {
  height: 50%;
  width: auto;
}

mat-card-content {
  height: 10%;
  width: 100%;
  margin: 0;
}

mat-card-actions {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: auto;
}

p {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
