.article-body {
  display: -webkit-box;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.mat-card-image {
  height: 50%;
  width: auto;
}

.mattabcontainer {
  display: flex;
  height: 85%;
}

.tab-change-btn {
  background-color: transparent;
  border: none;
  width: 5%;
}

.tab-change-btn:focus {
  outline: none;
}

.mattabcontainer mat-tab-group {
  width: 90%;
}

:host ::ng-deep .mattabcontainer .mat-tab-header {
  display: none;
}

form {
  display: flex;
  flex-flow: column nowrap;
  margin: 16px;
  padding: 16px;
}

mat-card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

mat-card-actions {
  align-items: center;
  cursor: auto;
  display: flex;
  height: 20%;
  width: 100%;
}

mat-card-content {
  height: 10%;
  margin: 0;
  width: 100%;
}

mat-card-header {
  align-items: center;
  height: 20%;
  width: 100%;
}

mat-card-subtitle {
  margin: 0;
}

mat-card-title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

mat-expansion-panel {
  margin: 0 16px;
}

mat-grid-list {
  margin: 16px;
}

mat-list-item {
  margin: 16px 0;
}

mat-tab-group,
::ng-deep .mat-tab-body-wrapper,
mat-tab-body,
.mat-tab-body-content {
  height: 100%;
}
