<mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <a mat-button routerLink="feed">STUDENT PORTAL</a>
    <button mat-raised-button type="button" (click)="onLogout()">Log Out</button>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav mode="over">
        <mat-nav-list (click)="sidenav.toggle()">
            <a mat-list-item routerLink="feed">Home</a>
            <a mat-list-item routerLink="assignment">Assignments</a>
            <a mat-list-item routerLink="doubt">Doubts</a>
            <a mat-list-item routerLink="academics">Academics</a>
            <a mat-list-item routerLink="test">Test</a>
            <a mat-list-item routerLink="fees">Fees</a>
            <a mat-list-item routerLink="com">Communicate</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>