:host ::ng-deep .mat-tab-header {
  position: sticky;
  top: 0;
  background-color: #fafafa;
  z-index: 3;
}

mat-table {
  margin: 16px;
}

mat-sort-header-sorted {
  color: black;
}

mat-footer-row {
  font-weight: bold;
}
