.mat-expanded {
  margin: 16px;
}

:host ::ng-deep .mat-tab-body-content {
  padding: 16px;
}

:host ::ng-deep .mat-tab-body-content mat-footer-row {
  font-weight: bold;
}

mat-tab-group,
:host ::ng-deep .mat-tab-body-wrapper,
mat-tab-body {
  height: 100%;
}

mat-expansion-panel {
  margin: 8px 0;
}

mat-list-item {
  margin: 4px 0;
}
