<mat-grid-list cols="1" rowHeight="fit" role="list">
  <mat-grid-tile class="mat-elevation-z2" role="listitem">
    <mat-grid-tile-header>
      About Virtual College
    </mat-grid-tile-header>
    <div class="inside-tile">
      <p>
        Vitual college is an online platform designed for students to interact with their
        respective institutions.
      </p>
      <p>
        This website allows the students as well as the teachers to walk
        in pace with the academic and extra-curricular activities and events of the
        institution.
      </p>
      <p>
        VC allows online test broadcast for the students to give tests from anywhere.
      </p>
      <p>
        VC also provides a doubt resolving platform for the students where teachers can solve their
        doubts while making the solution private or public as per the student's requirements.
      </p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
