<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading" class="mattabcontainer">

  <button (click)="onPrev()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>

  <mat-tab-group [(selectedIndex)]="tabSelect">

    <mat-tab *ngFor="let x of tabs">

      <mat-grid-list cols="3" gutterSize="16px">
        <mat-grid-tile *ngFor="let article of getArticles(x);let i = index" class="mat-elevation-z2">

          <mat-card (click)="openDialog(x,i)">
            <mat-card-header>
              <img mat-card-avatar [src]="article.back" [alt]="article.back">
              <mat-card-title>{{article.head}}</mat-card-title>
              <mat-card-subtitle>{{article.date|date}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="article.back" [alt]="article.back">
            <mat-card-content>
              <p>{{article.body}}</p>
            </mat-card-content>
            <mat-card-actions (click)="$event.stopPropagation()">
              <a mat-button [href]="generateJSON(x,i)" [download]="article.date+'.json'">SAVE</a>
            </mat-card-actions>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>


    </mat-tab>

  </mat-tab-group>

  <button (click)="onNext()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>

</div>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>
