<mat-spinner *ngIf="isLoading"></mat-spinner>

    <div *ngIf="!isLoading&&tabs.length>0" class="mattabcontainer">

      <button class="tab-change-btn" (click)="onPrev()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <mat-tab-group [(selectedIndex)]="tabSelect">
        <mat-tab *ngFor="let x of tabs">
          <mat-grid-list cols="3" gutterSize="16px">
            <mat-grid-tile *ngFor="let article of getArticles(x);let i = index" class="mat-elevation-z2">
              <mat-card (click)="openDialog(x,i)">
                <mat-card-header>
                  <img mat-card-avatar [src]="article.cover" [alt]="article.cover">
                  <mat-card-title>{{article.head}}</mat-card-title>
                  <mat-card-subtitle>{{article.date|date}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="article.cover" [alt]="article.cover">
                <mat-card-content>
                  <p class="article-body">{{article.body}}</p>
                </mat-card-content>
                <mat-card-actions (click)="$event.stopPropagation()">
                  <a mat-button [href]="generateJSON(x,i)" [download]="article.date+'.json'">SAVE</a>
                </mat-card-actions>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
      </mat-tab-group>

      <button class="tab-change-btn" (click)="onNext()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>

    </div>

    <mat-expansion-panel *ngIf="!isLoading" (opened)="circularPanelState = true"
    (closed)="circularPanelState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Circulars
        </mat-panel-title>
        <mat-panel-description>
          Click to {{circularPanelState ? 'close' : 'expand'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let circular of circulars;let i = index" class="mat-elevation-z2">
          <h3 matLine>{{circular.subject}} - {{circular.author}}</h3>
          <p matLine>{{circular.date|date}}</p>
          <a [href]="circular.downloadUrl" target="_blank">
            <mat-icon matListIcon>get_app</mat-icon>
          </a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>